<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="~/images/logo.svg" height="82" width="82"></a>
            <button class="navbar-toggler" data-target="#navbar" data-toggle="collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="Index" asp-controller="Home">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="Index" asp-controller="Books">Books</a>
                    </li>
                    @if (this.User.IsInRole(nameof(Role.Administrator)))
                    {
                        <li class="nav-item active">
                            <a class="nav-link" asp-page="/Admin/Users">Manage users</a>
                        </li>
                    }
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
    <div class="container">
        @if (TempData["ConfirmationMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible mt-3" role="alert">
                @TempData["ConfirmationMessage"]
            </div>
        }
        @RenderBody()
    </div>
    <footer class="border-top footer text-muted">
        <p>Contact us...</p>
    </footer>
    <script src="https://kit.fontawesome.com/61342651a9.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
